.section2 {


    .bg-img {
        background: url(../img/bg.jpg) center/cover;
        display: block;
        height: 100vh;
        padding: 100px ;
        box-shadow: 0 0 11px -4px $white;

        .bg-text {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            h3 {
                color: $white;
                letter-spacing: 1px;
                font-family: $font1;
                font-size: 4rem;
                margin-bottom: 70px;
                font-weight: bold;
                text-shadow: 2px 1px $grey;
            }

            p {
                font-family: $font2;
                font-weight: 100;
                max-width: 600px;
                font-size: 1.3rem;
                line-height: 27px;
                margin-bottom: 25px;
                color: $white;
            }
            
            a {
                text-decoration: none;
                font-family: $font2;
                padding: 10px 30px;
                border: 1px solid $grey;
                border-radius: 30px;
                font-size: 1.1rem;
                color: $white;
                background: transparent;
                transition: 0.2s;
                margin-top: 30px;
                
                &:hover {
                    border: 1px solid $color2;
                    color: $color2;
                    font-weight: lighter;
                    transform: scale(1.03);

                }
            }
        }
    }
}